/**
 * application.css
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */
.type-desktop { -fx-image: url("desktop.png"); }
.type-laptop { -fx-image: url("laptop.png"); }
.type-mobile { -fx-image: url("mobile.png"); }
.type-unknown { -fx-image: url("unknown.png"); }

.list-cell:active .type-desktop { -fx-image: url("desktop-white.png"); }
.list-cell:active .type-laptop { -fx-image: url("laptop-white.png"); }
.list-cell:active .type-mobile { -fx-image: url("mobile-white.png"); }
.list-cell:active .type-unknown { -fx-image: url("unknown-white.png"); }