/**
 * application.css
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

/* list icons */
.type-linux { -fx-image: url("linux-black.png"); }
.type-android { -fx-image: url("android-black.png"); }
.type-windows { -fx-image: url("windows-black.png"); }
.type-apple { -fx-image: url("apple-black.png"); }
.type-unknown { -fx-image: url("unknown-black.png"); }

.list-cell:focused .type-linux { -fx-image: url("linux-white.png"); }
.list-cell:focused .type-android { -fx-image: url("android-white.png"); }
.list-cell:focused .type-windows { -fx-image: url("windows-white.png"); }
.list-cell:focused .type-apple { -fx-image: url("apple-white.png"); }
.list-cell:focused .type-unknown { -fx-image: url("unknown-white.png"); }

/* loading screen */
#loadingPane Pane { -fx-background-color: rgba(0, 0, 0, 0.8); }
#loadingLabel { -fx-text-fill: white; }
